*.DS_Store
.vscode
*.csv
*.lprof
*.html
*.py.lprof
*.o
*.csv.gz
*.png
*.npy
.ipynb_checkpoints
*/.ipynb_checkpoints/*
evology/data/run_data.csv
evology/data/run_data.csv
evology/research/TransferStatus/SingleRun_Replic_3ag/data/simulation3ag_15k.csv
*.csv.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Cython-generated C files
*.c
evology/code/build/temp.macosx-10.9-x86_64-3.9/investment-bc8bf362.o.tmp
