*.DS_Store
.vscode
*.csv
*.lprof
*.py.lprof
*.o
*.png
.ipynb_checkpoints
*/.ipynb_checkpoints/*
evology/data/run_data.csv
evology/data/run_data.csv
evology/research/TransferStatus/SingleRun_Replic_3ag/data/simulation3ag_15k.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Cython-generated C files
*.c
