# This is a basic workflow to help you get started with Actions

name: no_learning_runs

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: 
      - master
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: Ubuntu-latest 
# windows-2022	

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: python setup
        run: python setup.py
        run: cython -V
      # - name: change permission
      #   run: chmod +x tests/test_learning.py
      - name: compile cythonized files
        run: (cd evology/code && ./cythonize.sh)
      - name: run test nolearning
        run: python tests/test_nolearning.py


